#container{
  width: 60%;
  margin: 50px;
}

#game div {
    display: inline-block;
  }

/* Card Flip styling from https://codepen.io/desandro/pen/LmWoWe */

.scene {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 10px;
  perspective: 750px;
  
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card.is-flipped-matched {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("AvatarMemory/four\ elements.png");
  background-size: 100%;
}

.card__face--back {
  background-size: 100%;
  transform: rotateY(180deg);
}

button {
  display: inline-block;
}

/* Slider code provided by https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.pairs {
  width: auto; 
  margin: 10px;
  display: inline-block;
  padding: 5px;
}
